nav.navbar.navbar-default.navbar-fixed-bottom
	div.container
		div.footer-content
			
			p= '© Marcos Rodríguez Martínez - ' + new Date().getFullYear()
				|	|	
				a(href="https://bootswatch.com/simplex/", target="_blank") Tema
				|	|	
