doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		<!-- bootstrap`-->
		link(rel='stylesheet', href='/Bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/Bootstrap/css/bootstrap-theme.css')
		script(src='/JQuery/jquery-1.11.2.min.js')
		script(src='/Bootstrap/js/bootstrap.min.js')
		script(src='/scripts/activate_tab.js')
	body
		include ./menu.jade
		div.container
			block content
		include ./footer.jade
