nav.navbar.navbar-default.navbar-fixed-top
	div.container
		div.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#") MarcosRZ
		div#navbar.collapse.navbar-collapse
			ul.nav.navbar-nav
				li#tab_professional.tab_activable.active
					a(href="/") Profile
				li#tab_academic.tab_activable
					a(href="academic") Academic
				li#tab_hobbies.tab_activable
					a(href="hobbies") Hobbies
				li#tab_contact.tab_activable
					a(href="contact") Contact
